.root {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 5px 24px 16px;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-grow: 1;
}

.sidebar {
    min-width: 300px;
    display: flex;
}

.footer {
    text-align: center;
    padding-top: 40px;
}